*{
 margin: 0;
 padding: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Josefin Sans", sans-serif;
    color: white;
  }
  
  /*CSS FOR NAVBAR */
 .nav{
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 60px;
  z-index: 2;
  width: 100%;
 }
 
 .logo{
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  color: white;
  z-index: 10;

 }

 .toggle{
  font-size: 30px;
  margin-right: 20px;
  margin-top: 20px;
 }

 .main-nav{
  display: none;
 }

 li{
  list-style-type: none;
  margin-right: 40px;
  font-size: 26px;
 }

 .divclass{
  background-image: url('elvis-bekmanis-g9qwoPiS0nY-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  }
 
/*CSS FOR HEADER */
 h1{
  color: white;
 }


 .div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
 }

 .heading h1{
 color: white
 }

 .div h1{
  font-size: 40px;
  font-family: Great Vibes;
 }


 img{
  max-width: 100%;
  height: auto;
  position: absolute;
 }

 button{
  margin-top: 20px;
  width: 150px;
  font-family: Great Vibe;
  height: 30px;
  color: white;
  background-color: #000000;
 background-image: linear-gradient(315deg, #000000 0%, #a29bfe 74%);
 
  }


 /*css for about us */


 .container2{
    background-image: linear-gradient(#051b33 25%,#02050a 75%);
 height: 130vh;

}

.container2 h1{
 font-family: Great Vibes;
 text-align: center;
}

h2{
 font-family: Great Vibes;
 font-size: 36px;
 display: flex;
 line-height: 10vh;
 justify-content: center;
 align-items: center;
 text-align: center;
}


 .heading{
  position: absolute;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }



 h2{
    
 }

 .card{
  border: 1px solid black;
  background-image:linear-gradient(rgb(31, 46, 56), rgb(9, 15, 26));
  height: 180px;
  width: 400px;
  margin-top: 40px;
 }

 

 .card p{
   text-align: center; 
   font-family: Great Vibes;
   font-size: 24px;
   line-height: 1.7;
 }

 .cards{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

 }
 
 /*CSS FOR CONTACT SECTION */

 .contact{
   background-image:linear-gradient(black, rgb(5, 10, 15));;
    height: 100vh;
}

.contact h2{
}

.contact p{
  text-align: center;
  line-height: 3;
  font-size: 28px;
  font-family: Great Vibes;
}

/*Media Queries */

@media(min-width: 320px){
  .card p{
   font-size: 22px;
  }
}

@media(min-width: 600px){
   .container2 p{
     font-size: 23px;
   }

   .card{
    width: 350px;
   }
}

@media screen and (min-width: 768px) {
   
    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  
    .main-nav{
     display: flex;
     justify-content: flex-end;
     flex-direction: row;
    }
  
    .toggle{
      display: none;
    }
  
    .div h1{
     font-size: 64px;
    }
  
    .container2{
      height: 80vh;
    }
  
    .logo{
     margin-top: -10px;
     margin-left: 40px;
     font-size: 22px;
    }
  
    img{
     max-width: 100%;
     height: auto;
    }
  
  
   .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
  
  
  
    .card{
     height: 350px;
     width: 250px;
     gap: 40px;
    }
  
    .contact{
     height: 80vh;
    }
  
    .card img{
     width: 350px;
     height: 300px;
    }
    
  
    .cards{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap: 30px;
    }
  
    .card p{
     line-height: 2;
    }
   }

@media(min-width: 800px){
    .card{
      width: 250px;
    }


  .card p{
   font-size: 21px;
  }
}



 @media(min-width: 1000px){
  .card{
   width: 320px;
  }

  .card p{
   font-size: 24px;
  }
 }

 @media(min-width: 1200px){
    .card{
      width: 350px;
    }

    .card p{
      font-size: 24px;
      line-height: 2.5;
    }

    .contact{
     height: 100vh;
    }

    .contact p{
      line-height: 2.5;
    }
 }